.back-link
{
    margin: 30px 0 0 20px;
}

.back-link a
{
    padding: 5px 10px;
    color: #f8d015;
    background-color: #a01f4d;
    box-shadow: 2px 3px 0.0 0.0 rgba(0, 0, 0, 0.1);
}

.project-details
{
    display: block;
    margin-top: 20px;
    padding: 0 20px;
}

.project-details p
{
    margin-top: 0;
    margin-bottom: 10px;
}

.details-logo
{
    margin-right: 15px;
    float: left;
    display: none;
}

.details-brief
{
    font-weight: 100;
    font-size: 1.35em;
    padding:0;
}

.details-info-box
{
    width: 240px;
    min-height: 120px;
    background-repeat: no-repeat;
    background-position-x: -10px;
    background-position-y: -20px;
    border-left: 1px solid #d2cabd;
    margin-left: 10px;
    padding: 110px 0 20px 10px;
    float: right;
}